@import '../variables.scss';

.home {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
