@import '../variables.scss';

.home {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

// .postContainer {
//   max-width: 1200px;
//   margin: 0 auto;
//   width: 100%;
//   height: auto;
//   padding: 1rem 0;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   place-items: center;
//   gap: 3rem;

//   @media only screen and (max-width: 1250px) {
//     padding: 2rem 1rem;
//   }
// }
