@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-2;
  background-color: $main-clr;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-clr-1;
}

button,
input,
textarea {
  font-size: 1rem;
  font-family: $font-2;
  font-weight: normal;
  color: $text-clr-1;
}

button {
  background-color: transparent;
  display: flex;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $main-clr;

  @media only screen and (max-width: 550px) {
    padding-top: 70px;
  }
}
