@import './variables.scss';

.hero {
  width: 100%;
  height: 500px;
  background-color: $text-clr-1;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @media only screen and (max-width: 650px) {
    height: 600px;
  }

  .center {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    color: $text-clr-2;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a c';

    @media only screen and (max-width: 650px) {
      grid-template-areas:
        'a'
        'b'
        'c';
    }

    @media only screen and (max-width: 1300px) {
      padding-top: 0;
    }

    .postShowcase {
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;

      &:nth-of-type(1) {
        grid-area: a;

        .textContainer {
          padding: 1rem 3rem 2.5rem 3rem;

          @media only screen and (max-width: 850px) {
            padding: 1rem 2rem 2.5rem 2rem;
          }

          @media only screen and (max-width: 650px) {
            padding: 1rem;
          }

          h2 {
            font-size: 3rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: 650px) {
              font-size: 2rem;
              -webkit-line-clamp: 2;
            }

            @media only screen and (max-width: 350px) {
              font-size: 1.5rem;
            }
          }

          .info {
            width: 100%;
            height: auto;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;

              @media only screen and (max-width: 650px) {
                display: none;
              }
            }

            h4 {
              font-weight: 400;
              font-size: 1rem;
              margin-top: 0;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      &:nth-of-type(2) {
        grid-area: b;
      }

      &:nth-of-type(3) {
        grid-area: c;
      }

      &:hover {
        .imgContainer::before {
          background-color: rgba(0, 0, 0, 0.9);
        }
      }

      .imgContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          transition: background-color 300ms;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .textContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 1.5rem 2.5rem 1.5rem;
        color: $text-clr-2;

        @media only screen and (max-width: 650px) {
          padding: 1rem;
          justify-content: center;

          h2 {
            font-size: 2rem;
          }
        }

        h2 {
          color: white;
          font-family: $font-1;
          letter-spacing: 2px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;

          @media only screen and (max-width: 350px) {
            font-size: 1.5rem;
          }
        }

        h4 {
          font-weight: 400;
          font-size: 1rem;
          margin-top: 1rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;

          span:first-of-type {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
