@import './variables.scss';

.home {
  width: 100%;
  height: auto;

  h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);

    @media only screen and (max-width: 1250px) {
      padding: 2rem 1rem clamp(0.5rem, 1vw, 2rem) 1rem;
    }
  }
}

.postContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 3rem;

  @media only screen and (max-width: 1250px) {
    padding: 2rem 1rem;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 5;
  }

  &::before {
    top: 0;
    left: 0;
    height: 200px;
    background: linear-gradient(180deg, $main-clr, transparent);
  }

  &::after {
    bottom: 0;
    left: 0;
    height: 150px;
    background: linear-gradient(180deg, transparent, $main-clr);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;

    &:first-of-type {
      opacity: 0;
      animation: opacity forwards;
      animation-delay: 500ms;

      @keyframes opacity {
        to {
          opacity: 1;
        }
      }
    }

    &:last-of-type {
      -webkit-mask-image: url('../public/home/mask.png');
      -webkit-mask-size: cover;
      -webkit-mask-position: 0% 0%;
      mask-image: url('../public/home/mask.png');
      mask-size: cover;
      mask-position: 0% 0%;

      animation: addColor 1200ms steps(32) forwards;
      animation-delay: 1s;

      @keyframes addColor {
        0% {
          -webkit-mask-position: 0% 0%;
          mask-position: 0% 0%;
        }
        100% {
          -webkit-mask-position: 100% 0%;
          mask-position: 100% 0%;
        }
      }
    }
  }
}
