@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-1: 'Bitter', serif;
$font-2: 'Montserrat', sans-serif;
$white: white;
$black: black;
$text-clr-1: rgb(230, 230, 230);
$text-clr-2: rgb(20, 20, 20);
$main-clr: rgb(230, 230, 230);
$acc-clr: orange;
